In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_columns', 22)
pd.set_option('display.max_rows',2000)

In [2]:
df = pd.read_csv("/Users/juwonkim/Desktop/캡스톤 디자인/archive/results.csv",encoding='ISO-8859-1',index_col=0) 
df.shape

(11113, 22)

Column	Description
Season	Match Season
DateTime	Match Date and Time (yyyy-mm-dd hh:mm:ss)
HomeTeam	Home Team
AwayTeam	Away Team
FTHG	Full Time Home Team Goals
FTAG	Full Time Away Team Goals
FTR	Full Time Result (H=Home Win, D=Draw, A=Away Win)
HTHG	Half Time Home Team Goals
HTAG	Half Time Away Team Goals
HTR	Half Time Result (H=Home Win, D=Draw, A=Away Win)
Referee	Match Referee
HS	Home Team Shots
AS	Away Team Shots
HST	Home Team Shots on Target
AST	Away Team Shots on Target
HC	Home Team Corners
AC	Away Team Corners
HF	Home Team Fouls Committed
AF	Away Team Fouls Committed
HY	Home Team Yellow Cards
AY	Away Team Yellow Cards
HR	Home Team Red Cards
AR	Away Team Red Cards

In [3]:
df

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,,
1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [4]:
df.columns

Index(['DateTime', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'HTHG',
       'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HC', 'AC', 'HF',
       'AF', 'HY', 'AY', 'HR', 'AR'],
      dtype='object')

In [5]:
df.tail()

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,,
2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [6]:
# 모든 통계량이 측정된 시즌부터 반영
df = df[df['DateTime']>'2000-08']

In [7]:
df

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,,
2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2.0,0.0,H,Rob Harris,17.0,8.0,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,Graham Barber,17.0,12.0,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,Barry Knight,6.0,16.0,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,Andy D'Urso,6.0,13.0,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2.0,0.0,H,Dermot Gallagher,17.0,12.0,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [8]:
df.dtypes

DateTime     object
HomeTeam     object
AwayTeam     object
FTHG          int64
FTAG          int64
FTR          object
HTHG        float64
HTAG        float64
HTR          object
Referee      object
HS          float64
AS          float64
HST         float64
AST         float64
HC          float64
AC          float64
HF          float64
AF          float64
HY          float64
AY          float64
HR          float64
AR          float64
dtype: object

In [9]:
print(df['AwayTeam'].nunique())
print(df['HomeTeam'].nunique())
print(df['Referee'].nunique())

44
44
158

In [10]:
# #영국 현지시간으로 시간대 표준화
# df['DateTime'] = df['DateTime'].dt.tz_convert('Europe/London')

In [11]:
df

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,,
2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,H,2.0,0.0,H,Rob Harris,17.0,8.0,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,H,1.0,0.0,H,Graham Barber,17.0,12.0,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,A,1.0,1.0,D,Barry Knight,6.0,16.0,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,D,1.0,2.0,A,Andy D'Urso,6.0,13.0,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,H,2.0,0.0,H,Dermot Gallagher,17.0,12.0,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,A,0.0,1.0,A,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,H,0.0,0.0,D,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,H,2.0,0.0,H,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,H,1.0,0.0,H,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,D,2.0,1.0,H,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

## FTR, HTR
홈팀이 이겼을때 더 가중치를 주기위해 홈팀이 이겼을때 1, 비겼을때 0, 졌을때 -1로 전처리

In [12]:
ftr_mapping = {'H': 1, 'D': 0, 'A': -1}
df['FTR'] = df['FTR'].map(ftr_mapping).astype(float)

/var/folders/jk/7yn2gh2d6xl2nb2cbhp3pdtw0000gn/T/ipykernel_83220/3907708880.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['FTR'] = df['FTR'].map(ftr_mapping).astype(float)

In [13]:
htr_mapping = {'H': 1, 'D': 0, 'A': -1}
df['HTR'] = df['HTR'].map(htr_mapping).astype(float)

/var/folders/jk/7yn2gh2d6xl2nb2cbhp3pdtw0000gn/T/ipykernel_83220/455978026.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['HTR'] = df['HTR'].map(htr_mapping).astype(float)

In [14]:
df.dtypes

DateTime     object
HomeTeam     object
AwayTeam     object
FTHG          int64
FTAG          int64
FTR         float64
HTHG        float64
HTAG        float64
HTR         float64
Referee      object
HS          float64
AS          float64
HST         float64
AST         float64
HC          float64
AC          float64
HF          float64
AF          float64
HY          float64
AY          float64
HR          float64
AR          float64
dtype: object

In [15]:
df

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,,
2000-01,2000-08-19T00:00:00Z,Charlton,Man City,4,0,1.0,2.0,0.0,1.0,Rob Harris,17.0,8.0,14.0,4.0,6.0,6.0,13.0,12.0,1.0,2.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Chelsea,West Ham,4,2,1.0,1.0,0.0,1.0,Graham Barber,17.0,12.0,10.0,5.0,7.0,7.0,19.0,14.0,1.0,2.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Coventry,Middlesbrough,1,3,-1.0,1.0,1.0,0.0,Barry Knight,6.0,16.0,3.0,9.0,8.0,4.0,15.0,21.0,5.0,3.0,1.0,0.0
2000-01,2000-08-19T00:00:00Z,Derby,Southampton,2,2,0.0,1.0,2.0,-1.0,Andy D'Urso,6.0,13.0,4.0,6.0,5.0,8.0,11.0,13.0,1.0,1.0,0.0,0.0
2000-01,2000-08-19T00:00:00Z,Leeds,Everton,2,0,1.0,2.0,0.0,1.0,Dermot Gallagher,17.0,12.0,8.0,6.0,6.0,4.0,21.0,20.0,1.0,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-22,2022-04-09T17:30:00Z,Aston Villa,Tottenham,0,4,-1.0,0.0,1.0,-1.0,G Scott,9.0,11.0,8.0,5.0,9.0,3.0,12.0,14.0,2.0,3.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Brentford,West Ham,2,0,1.0,0.0,0.0,0.0,M Atkinson,15.0,5.0,7.0,1.0,4.0,6.0,2.0,6.0,0.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Leicester,Crystal Palace,2,1,1.0,2.0,0.0,1.0,R Jones,12.0,11.0,3.0,3.0,3.0,4.0,11.0,12.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T14:00:00Z,Norwich,Burnley,2,0,1.0,1.0,0.0,1.0,M Oliver,17.0,18.0,6.0,4.0,6.0,7.0,12.0,10.0,1.0,1.0,0.0,0.0
2021-22,2022-04-10T16:30:00Z,Man City,Liverpool,2,2,0.0,2.0,1.0,1.0,A Taylor,11.0,6.0,5.0,4.0,4.0,1.0,9.0,11.0,1.0,4.0,0.0,0.0

In [ ]:
new_df = df[df['HomeTeam']=='Tottenham']

In [16]:
to_df = df[df['HomeTeam']=='Tottenham']

In [17]:
to_df.head()

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,,
2000-01,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,1.0,2.0,1.0,1.0,Alan Wiley,20.0,15.0,6.0,5.0,3.0,4.0,14.0,13.0,0.0,0.0,0.0,0.0
2000-01,2000-09-05T00:00:00Z,Tottenham,Everton,3,2,1.0,1.0,2.0,-1.0,Barry Knight,11.0,11.0,7.0,6.0,7.0,5.0,11.0,10.0,1.0,2.0,0.0,0.0
2000-01,2000-09-11T00:00:00Z,Tottenham,West Ham,1,0,1.0,0.0,0.0,0.0,Steve Dunn,15.0,11.0,7.0,5.0,11.0,3.0,14.0,13.0,1.0,2.0,0.0,0.0
2000-01,2000-09-23T00:00:00Z,Tottenham,Man City,0,0,0.0,0.0,0.0,0.0,Steve Bennett,18.0,7.0,5.0,2.0,5.0,4.0,10.0,14.0,0.0,2.0,0.0,0.0
2000-01,2000-10-21T00:00:00Z,Tottenham,Derby,3,1,1.0,2.0,1.0,1.0,Mike Dean,18.0,8.0,8.0,7.0,7.0,4.0,9.0,16.0,1.0,2.0,0.0,0.0

In [18]:
to_df = to_df.drop('Referee',axis=1)

In [20]:
to_df.head()

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,
2000-01,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,1.0,2.0,1.0,1.0,20.0,15.0,6.0,5.0,3.0,4.0,14.0,13.0,0.0,0.0,0.0,0.0
2000-01,2000-09-05T00:00:00Z,Tottenham,Everton,3,2,1.0,1.0,2.0,-1.0,11.0,11.0,7.0,6.0,7.0,5.0,11.0,10.0,1.0,2.0,0.0,0.0
2000-01,2000-09-11T00:00:00Z,Tottenham,West Ham,1,0,1.0,0.0,0.0,0.0,15.0,11.0,7.0,5.0,11.0,3.0,14.0,13.0,1.0,2.0,0.0,0.0
2000-01,2000-09-23T00:00:00Z,Tottenham,Man City,0,0,0.0,0.0,0.0,0.0,18.0,7.0,5.0,2.0,5.0,4.0,10.0,14.0,0.0,2.0,0.0,0.0
2000-01,2000-10-21T00:00:00Z,Tottenham,Derby,3,1,1.0,2.0,1.0,1.0,18.0,8.0,8.0,7.0,7.0,4.0,9.0,16.0,1.0,2.0,0.0,0.0

In [21]:
to_df.tail()

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,,
2021-22,2022-02-09T19:45:00Z,Tottenham,Southampton,2,3,-1.0,1.0,1.0,0.0,8.0,23.0,3.0,10.0,2.0,8.0,7.0,13.0,2.0,3.0,0.0,0.0
2021-22,2022-02-13T14:00:00Z,Tottenham,Wolves,0,2,-1.0,0.0,2.0,-1.0,17.0,11.0,7.0,7.0,7.0,3.0,13.0,13.0,3.0,1.0,0.0,0.0
2021-22,2022-03-07T20:00:00Z,Tottenham,Everton,5,0,1.0,3.0,0.0,1.0,14.0,6.0,7.0,0.0,5.0,2.0,15.0,10.0,2.0,0.0,0.0,0.0
2021-22,2022-03-20T16:30:00Z,Tottenham,West Ham,3,1,1.0,2.0,1.0,1.0,17.0,6.0,4.0,1.0,5.0,3.0,7.0,7.0,0.0,1.0,0.0,0.0
2021-22,2022-04-03T16:30:00Z,Tottenham,Newcastle,5,1,1.0,1.0,1.0,0.0,19.0,8.0,6.0,1.0,2.0,3.0,10.0,7.0,2.0,3.0,0.0,0.0

In [25]:
# X = to_df[to_df['DateTime']<'2021-08']

In [26]:
# y = to_df[to_df['DateTime']>='2021-08']

In [29]:
# 'DateTime' 기준으로 데이터를 분할하기 위한 조건 설정
train_condition = to_df['DateTime'] < '2021-08'
test_condition = to_df['DateTime'] >= '2021-08'

# 훈련 데이터와 테스트 데이터로 분할
X_train = to_df[train_condition].drop(['FTR'], axis=1)  # 'target_column'을 예측하려는 값의 컬럼 이름으로 대체
y_train = to_df[train_condition]['FTR']

X_test = to_df[test_condition].drop(['FTR'], axis=1)
y_test = to_df[test_condition]['FTR']

In [40]:
y_train.dtype

dtype('float64')

In [34]:
X_train.head()

,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,HTHG,HTAG,HTR,HS,AS,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
Season,,,,,,,,,,,,,,,,,,,,
2000-01,2000-08-19T00:00:00Z,Tottenham,Ipswich,3,1,2.0,1.0,1.0,20.0,15.0,6.0,5.0,3.0,4.0,14.0,13.0,0.0,0.0,0.0,0.0
2000-01,2000-09-05T00:00:00Z,Tottenham,Everton,3,2,1.0,2.0,-1.0,11.0,11.0,7.0,6.0,7.0,5.0,11.0,10.0,1.0,2.0,0.0,0.0
2000-01,2000-09-11T00:00:00Z,Tottenham,West Ham,1,0,0.0,0.0,0.0,15.0,11.0,7.0,5.0,11.0,3.0,14.0,13.0,1.0,2.0,0.0,0.0
2000-01,2000-09-23T00:00:00Z,Tottenham,Man City,0,0,0.0,0.0,0.0,18.0,7.0,5.0,2.0,5.0,4.0,10.0,14.0,0.0,2.0,0.0,0.0
2000-01,2000-10-21T00:00:00Z,Tottenham,Derby,3,1,2.0,1.0,1.0,18.0,8.0,8.0,7.0,7.0,4.0,9.0,16.0,1.0,2.0,0.0,0.0

In [43]:
X_train['AwayTeam'].nunique()

42

## TODO

1 DateTime 해결 
2 팀별로 예측할것인가?
3 홈팀, 어웨이팀, 심판 dtype 해결